# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Scientiests
- Data Science tools

###### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Visual Basic
5. SQL

###### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. PyTorch
5. TensorFlow

| Data Science Tools |
| ------------------ |
| IBM Data Asset Exchange |
| GitHub |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to multiply then add integers
x = (3*4)+5
print (x)

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60
z = x / y
print (z)

3.3333333333333335

In [ ]:
## Author
Nahid Sultana